<!-- bda/app/templates/add_state.html -->

{% extends "base.html" %} {% block content %}

<div>
  <form action="" method="post" novalidate, class="wtform">
    {{ form.hidden_tag() }}
    <h1>Добавить запись в таблицу states</h1>
    <p>
      {{ form.accum_state.label }} {{ form.accum_state(size=50) }} {% for error
      in form.accum_state.errors %}
      <span class="error">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.comment.label }} {{ form.comment(size=50) }} {% for error in
      form.comment.errors %}
      <span class="error">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p class="submit"></p>{{ form.submit() }}</p>
  </form>

  {% endblock %}
</div>
