<!-- app/templates/add_accum.html -->

{% extends "base.html" %} {% block content %}

<form action="" method="post" novalidate, class="wtform">
  <h1>Добавить запись в таблицу accum</h1>
  {{ form.hidden_tag() }}
  <p>
    {{ form.No.label }} {{ form.No(size=10) }} {% for error in form.No.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    d_prod {{ form.d_prod(value=today) }} {% for error in form.d_prod.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.accum_state.label }} {{ form.accum_state(size=10) }} {% for error in
    form.accum_state.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.node.label }} {{ form.node(size=10) }} {% for error in
    form.node.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.equip.label }} {{ form.equip(size=10) }} {% for error in
    form.equip.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    d_edit {{ form.d_edit(value=today) }} {% for error in form.d_edit.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.comment.label }}<br />
    {{ form.comment(size=50) }} {% for error in form.comment.errors %}
    <span class="error">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p class="submit">{{ form.submit() }}</p>
</form>
{% endblock %}
