<!-- bda/app/templates/index.html -->

{% extends "base.html" %} 
{# блок навигации  #}
    {% block navigator %}
    <div class="wrapper">
      <ul class="navigation">
        <li><a href=""><h1>Таблица   {{ table_name }}</h1></a></li>
        <li><a href="{{ url_for('index') }}">Главная страница</a></li>  
        <li><a href="#popup_window">Вызвать всплывающую форму</a></li>
        <div class="clear"></div>
      </ul>
    </div>      
    {% endblock navigator %}


{# блок всплывающего окна #}
{% block popup_window %}  
    <div class="clear"></div>
    <div id="popup_window">
        {% from "macros.html" import modal_window%}
        {{ modal_window(1) }}
      </div>
    
{% endblock popup_window %}        


{% block content %} 
    <div class="footer">
      <h1 class="pageTitle">Программа учета оборота аккумуляторов</h1>
      <p>
        Первая версия. 
        Данная програма написана на Python с использованием микрофреймворка Flask с расширениями 
        Flask-WTF,  Flask-SQLAlchemy 
      </p>
    </div>
  


{% endblock content %}
