{% extends "base.html" %} {% block content %}
<h1 class="pageTitle">Лист черновика</h1>
<div>
    <form action="" method="post" novalidate, class='wtform'>
        {{ form.hidden_tag() }}
        <p>
            Поле ввода даты {{ form.my_date}}<br>
        </p>
        <p> 
            {{ form.my_date(value=mydate3) }}        
        </p>
        <p>
            {{ form.my_dateTime}}<br>
            {{ form.my_dateTime(value=today) }}        
        </p>
    </form>
</div>
<div>
    <p>Поле datetime в формате '%Y-%m-%d' :     {{ mydate1.strftime('%Y-%m-%d') }}</p>
    <p>Поле datetime.isoformat() : {{ mydate1.isoformat() }}</p>
    <p>Поле date.isoformat() : {{ mydate1.isoformat() }}</p>

    <p>Поле даты принимает date.fromisoformat('2020-01-31') :     {{ mydate3 }}</p>

    <p>Поле даты в формате '%d.%m.%y --- %H:%M:%S' :  {{ mydate2.strftime('%d.%m.%y --- %H:%M:%S') }}</p>

    <p>Поле datetime без форматирования {{ mydate2 }}</p>

</div>

<!-- <table class="table"> -->
  <!--Свойства класса "table" описаны в файле bda/app/static/css/style.css -->
  <!-- <thead>
    <tr>
      <th>test_id</th>
      <th>field1</th>
      <th>field2</th>
    </tr>
  </thead>
  {% for item in items %}
  <tbody>
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.state }}</td>
      <td>{{ item.comment }}</td>
    </tr>
  </tbody>
  {% endfor %} -->
</table>

{% endblock %}
