<!-- bda/app/templates/from_srv_view_cities.html -->

{# загрузка формы из macros.html #} 
{% import "macros_form.html" as macros_form%} 

{% extends "base.html" %}

{# блок навигации  #}
{% block navigator %}
    {# добавляем панель навигации из nav_table.html #} 
    {% include 'nav_table.html' %} 
{% endblock navigator %}

{# блок всплывающего окна #} 
{% block popup_window %}
    {{ macros_form.add_city(form) }}
{% endblock popup_window %} 


{% block content %}
    <div id="table"></div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script class="table">  


    const colomn_list = ['id', 'city', 'comment',];
    const key = 'city';


      const updateUrl = (prev, query) => {
        return (
          prev +
          (prev.indexOf("?") >= 0 ? "&" : "?") +
          new URLSearchParams(query).toString()
        );
      };
      
      new gridjs.Grid({
        columns: [
          { id: "id", name: "id", hidden: false },
          { id: "city", name: "Город" },
          { id: "comment", name: "Комментарии", sort: false },
        ],
        server: {
          url: `/api/data?key=${key}`,
          then: (results) => results.data,
          total: (results) => results.total,
        },
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, { search });
            },
          },
        },
        sort: {
          enabled: true,
          multiColumn: true,
          server: {
            url: (prev, columns) => {
              const columnIds = colomn_list;
              const sort = columns.map(
                (col) => (col.direction === 1 ? "+" : "-") + columnIds[col.index]
              );
              return updateUrl(prev, { sort });
            },
          },
        },
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, { start: page * limit, length: limit });
            },
          },
        },
        className: {
        td: 'my-custom-td-class',
        table: 'custom-table-classname'
        },
        fixedHeader: true,
        resizable: true,
      }).render(document.getElementById("table"));
    </script>
  {% endblock content %}
