<!-- bda/app/templates/macro_form.html -->

{% macro genere_form(form, table_name =False) %}
<div>
    <form action="" method="post" novalidate, class="wtform">

        <a href="#">Закрыть окно</a>
    
      {{ form.hidden_tag() }}
      <h1>Добавить запись в таблицу {{ table_name }}</h1>
      
      {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
          <div>{{ field.label() }} 
          {% if field.errors %}
                  {{ field(class="invalid") }}
          <span class="invalid-feedback">
                  {% for e in field.errors %}
                  {{ e }}
                  {% endfor %}
          </span>
          {% else %}
                  {{ field() }}</div>
          {% endif %}
      {% endfor %}
      {% if form.submit %}
          <p class="submit"></p>{{ form.submit() }}</p>
      {% endif %}
    </form>
{% endmacro %}

{% macro add_accum(form, table_name) %}
<!-- Модальное окно  -->
<a href="#x" class="overlay" id="popup_window"></a>
<div class="popup">
  <div class="clear"></div>
    <form action="", method="post", novalidate, class="form">
      {{ form.hidden_tag() }}
      <div class="form__container">          
        <di class="form_head">
          <h2>Добавить запись в таблицу {{ table_name }}</h2>
          <br>
        </di>

        <div class="form__group">
            <div class="form__row">
              {{ form.No.label(class_="form__label") }} {{ form.No(class_="form__field", size=30) }} {% for error in form.No.errors %}
              <span class="form__error">>[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="form__row">
              {{ form.search_model.label(class_="form__label") }} {{ form.search_model(class_="form__field", size=30) }} {% for error in form.search_model.errors %}
              <span class="form__error">>[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="form__row">
              {{ form.model.label(class_="form__label") }} {{ form.model(class_="form__field", size=1) }} {% for error in form.model.errors %}
              <span class="form__error">>[{{ error }}]</span>
              {% endfor %}
            </div>
           
            <div class="form__row">
              {{ form.d_prod.label(class_="form__label") }}  {{ form.d_prod(class_="form__field", value=today) }} {% for error in form.d_prod.errors %}
              <span class="form__error">>[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="form__row">
              {{ form.accum_state.label(class_="form__label") }} {{ form.accum_state(class_="form__field", size=30) }} {% for error in
              form.accum_state.errors %}
              <span class="form__error">>[{{ error }}]</span>
              {% endfor %}
            </div>
            <div class="form__row">
              {{ form.node.label(class_="form__label") }} {{ form.node(class_="form__field", size=30) }} {% for error in
              form.node.errors %}
              <span class="form__error">>[{{ error }}]</span>
              {% endfor %}
            </div>
            
            {{ form.submit(class_="button button--form") }}
            
            <div>
                <a class="close" title="Закрыть" href="#"></a>
            </div>
        </div>
      </div>
    </form>
</div>
{% endmacro %}


{% macro add_node(form) %}
<!-- Модальное окно  -->
<a href="#x" class="overlay" id="popup_window"></a>
<div class="popup">
    <form  action="", name="add_city" method="post" novalidate class="form">
        <div class="form__container">
            {{ form.hidden_tag() }}
            <p>
              {{ form.addr.label }} {{ form.addr(size=10) }} {% for error in form.addr.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.city.label }} {{ form.city(size=10) }} {% for error in form.city.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.street.label }} {{ form.street(size=10) }} {% for error in
              form.street.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.place.label }} {{ form.place(size=10) }} {% for error in
              form.place.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ form.comment.label }} {{ form.comment(size=10) }} {% for error in
              form.comment.errors %}
              <span class="error">[{{ error }}]</span>
              {% endfor %}
            </p>
          
            <div class="submit">{{ form.submit() }}</div>
        </div>         
    <a class="close" title="Закрыть" href="#"></a>
    </form>
    <div class="clear"></div>
</div>
{% endmacro %}








{% macro add_city(form) %}
<!-- Модальное окно  -->
<a href="#x" class="overlay" id="popup_window"></a>
<div class="popup">
    <form  action="", name="add_city" method="post" novalidate class="form">
        {{ form.hidden_tag() }}
        <div class="form__container">
            {{ render_select_field(form.choose_city) }}
            {{ render_text_field(form.comment) }}
            <div class="submit">{{ form.submit() }}</div>
        </div>         
    <a class="close" title="Закрыть" href="#"></a>
    </form>
    <div class="clear"></div>
</div>
{% endmacro %}