{% from "macros.html" import render_text_field %}
{% import "macros.html" as macros %} 



{% extends "base.html" %} {# блок навигации #} {% block navigator %}
<div class="wrapper">
  <ul class="navigation">
    <li>
      <a href=""><h1>Таблица {{ table_name }}</h1></a>
    </li>
    <li><a href="{{ url_for('index') }}">Главная страница</a></li>
    <li><a href="#popup_window">Вызвать всплывающую форму</a></li>
    <div class="clear"></div>
  </ul>
</div>
{% endblock navigator %} 


{# блок всплывающего окна #} {% block popup_window %}
{{ macros.modal_window1(form) }}

{% endblock popup_window %} 

{% block main_content %}
    <!-- <form name="add_movie" method="post" novalidate class="form">
        <div class="form__container">
            {{ render_text_field(form.title) }}
            {{ render_text_field(form.director) }}
            {{ render_text_field(form.year) }}
        </div>
    </form> -->
{% endblock %}