    <!-- app/templates/delete_confirmation.html -->

    {% extends "common/base.html" %} 

    
    {% block content %}
        <div class="container">
            <div class="flashed-messages-column">
                <!-- Всплывающие сообщения будут здесь -->
                {% block flashed_messages %}
                    {% include 'common/flashed_messages.html' %}
                {% endblock flashed_messages %}
            </div>
            <div class="form-column">
        
            <form method="POST" action="{{ url_for('change_password') }}" class="wtform">
                {{ form.hidden_tag() }}
                <div class="form-fields">
               
                    {{ form.old_password.label(class="form-control-label") }}
                    {{ form.old_password(class="form-change_password") }}
                    {% if form.old_password.errors %}
                        <ul class="errors">
                            {% for error in form.old_password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %} 
               
            
               
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-change_password") }}
                    {% if form.password.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
            
            
         
                    {{ form.password2.label(class="form-control-label") }}
                    {{ form.password2(class="form-change_password") }}
                    {% if form.password2.errors %}
                        <ul class="errors">
                            {% for error in form.password2.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
               
                {{ form.submit(class="change_password") }}

                 </div>    
            </form>
            </div>
            <div class="form-column"></div>
            </div>
        </div>
    {% endblock content %}