    <!-- app/templates/forms.login.html -->

    {% extends "common/base.html" %} 

    
    {% block content %}
    <div class="form-small-in-center">    
        <!-- <div class="container">
            <div class="form-column">     -->
                <form method="POST" id="formDinamic" class="wtform" novalidate>
                    {{ form.csrf_token }}
                    <div class="form-fields">
                    <!-- <div class="form-column"> -->

                        <h2>Войдите в систему:</h2> 
                        <br>
                        {% if messages %}
                                {% for message in messages %}
                                    <p class="error">{{ message }}</p>  
                                {% endfor %}  
                        {% endif %}
                        {{ form.username.label }}
                        {{ form.username(size=32, class='username') }}
                        {% for error in form.username.errors %}
                        <span class="error">[{{ error }}]</span>
                        {% endfor %}
                    
                        {{ form.password.label }}
                        {{ form.password(size=32) }}
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        
                        <div class="remember-me-container">
                            {{ form.remember_me() }} 
                            {{ form.remember_me.label }}
                        </div>
                        
                        {{ form.submit() }}                  
                    
                    </div>
                </form>
            <!-- </div>
        </div> -->
    </div>
    {% endblock content %}