<!-- bda/app/templates/common/flashed_messages.html -->

{# блок всплывающих сообщений  #}
{% block flashed_messages %}
{% with messages = get_flashed_messages() %}
<h2>Окно сообщений</h2>
{% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>  
    {% endfor %}  
    </ul>
{% endif %} {% endwith %}  

{% endblock flashed_messages %}  

<!-- **{% if form.errors %}
    {% for field, errors in form.errors.items() %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}** -->