<!-- bda/app/templates/common/nav_base.html -->

<!-- Блок меню, основа шаблона взята с сайта https://ruseller.com/lessons.php?id=2031&rub=2 -->

<!-- bda/app/templates/common/nav_base.html -->

<!-- Блок меню, основа шаблона взята с сайта https://ruseller.com/lessons.php?id=2031&rub=2 -->

<div class="menu"> <!-- Внешний контейнер -->
  <div class="main-items">
  <ul class="navigation">
    <li>
      <a href="">Таблицы</a>
      <ul>
        <li><a href="{{ url_for('get_table_cities') }}">Города</a></li>    
      </ul>
    </li> 
      <li> 
      <a href="">Формы</a>
      <ul>
        <li><a href="">Добавить персонаж</a></li>    
 
      </ul>
    </li>
    <li>
      <a href="">Добавить данные в БД </a>
        <ul>
          <li><a href="{{ url_for('load_json') }}">Добавить данные json </a></li>
        </ul>

    </li>
    <div class="clear"></div>
  </ul>
</div>
<div class="additional-items">
  <li><a  class="about_the_project" href="{{ url_for('index') }}">О проекте</a></li>
  
</div>
</div>