<!-- bda/app/templates/common/nav_add_entry.html -->


<div class="menu"> <!-- Внешний контейнер -->
  <div class="main-items">
    <ul class="navigation">
      <li>
        <a href="{{ url_for('index') }}">Главная</a>
      </li>
      <li>
        {% if link_buttom %}
            <a href="{{ url_for(link_buttom) }}">{{ buttom_name }}</a>
        {% else %}
            <!-- Кнопка не будет отображаться, так как нет значений для link_buttom и buttom_name -->
        {% endif %}
      </li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="additional-items">
    <li class="login-registration-item">
        {% if registration_button %}
            <a href="{{ url_for(link_button) }}">{{ button_name }}</a>
        {% else %}
            <!-- Кнопка не будет отображаться, так как нет значений для link_button и button_name -->
        {% endif %}
    </li>
    <li class="login-registration-item">
        {% if current_user.is_anonymous %}
            <a class="login" href="{{ url_for('login') }}">Войти</a>
            <a class="registration" href="{{ url_for('register') }}">Зарегистрироваться</a>
        {% else %}
            <a class="user-info" href="{{ url_for('profile') }}">Вход выполнен как: {{ current_user.username }}</a>
            <a class="logout-link" href="{{ url_for('logout') }}">Выйти</a>
        {% endif %}
    </li>
</div>
</div>