<!-- bda/app/templates/common/nav_base.html -->

<!-- Блок меню, основа шаблона взята с сайта https://ruseller.com/lessons.php?id=2031&rub=2 -->

<!-- bda/app/templates/common/nav_base.html -->

<!-- Блок меню, основа шаблона взята с сайта https://ruseller.com/lessons.php?id=2031&rub=2 -->

<div class="menu"> <!-- Внешний контейнер -->
  <div class="main-items">
  <ul class="navigation">
    <li>
      <a href="">Шаблоны полей</a>
      <ul>
        <li><a href="{{ url_for('show_field') }}">Форма 2 динамических поля + поле ввода</a></li>    
        <li><a href="{{ url_for('show_dinamicselectfield') }}">Форма c 1 динамическим полем</a></li>    
      </ul>
    </li> 
      <li> 
      <a href="">Примеры</a>
      <ul>
        <li><a href="{{ url_for('add_user') }}">Добавить пользователя</a></li>    
      </ul>
    </li>
    <li>
      <a href="">Добавить данные в БД </a>
        <ul>
          <li><a href="{{ url_for('load_json') }}">Добавить данные json </a></li>
        </ul>

    </li>
    <div class="clear"></div>
  </ul>
</div>
<div class="additional-items">
  <li><a  class="about_the_project" href="{{ url_for('index') }}">О проекте</a></li>
  
</div>
</div>