<!-- bda/app/templates/common/password_error.html -->

     
{% extends "common/base.html"  %} 
{% block content %}
<br>
<div class="active-user">
  <h1 class="main-title">Логин - {{ current_user.username }} </h1>

    {% if messages %}
        {% for message in messages %}
            <p class="error">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <div class="user-data">
      <!-- <p class="error">Пароль не должен совпадать со старым паролем </p>
      <p class="error">Пороль не должен совпадать с логином</p> -->
      <br><br>
      <a href="{{ url_for('change_password') }}">Выберите другой пароль</a>
  </div>

</div>
{% endblock %}
