/**
 * Файл: app/static/css/form_styles.css
 * Автор: Андрей Пшеничный
 * Дата: 13 Февраля 2024
 *
 * Название: Стили для форм
 * Версия: 1.0
 * Описание: В этом файле содержатся стили для пользовательских форм ввода информации на веб-сайте.
 */

/* Делаем контейнер блочным элементом и устанавливаем его ширину на 100% */
.container {
  display: flex;
  width: 100%;
}

/* Определяем ширину колонок */
.flashed-messages-column, 
.table-column {
  flex: 4; /* Занимает 1/3 ширины контейнера */
}

.table-title {
  position: absolute;
  top: 0;
  left: 0;
}

.form-column {
  flex: 3; /* Занимает 2/3 ширины контейнера */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Стилизация формы для занимания 40% ширины экрана и выравнивания по центру */
form.wtform {
  width: calc(100% - 80px);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2; /* Цвет фона */
  border-radius: 10px; /* Закругляем углы  */
  box-sizing: border-box; /* Учитываем ширину границы и отступов в общей ширине элемента */
  margin: 60px 20px 20px; /* Отступы: сверху, слева, справа, снизу */
  font-size: 20px;
}

form.wtform .child-form-fields,
form.wtform .form-fields input[type="text"],
form.wtform .form-fields input[type="password"],
form.wtform .form-fields select {
  width: calc(100% - 10px);
  box-sizing: border-box;
  font-size: 20px; /* Увеличиваем размер шрифта в полях ввода и выпадающих списках */
  margin-bottom: 10px;

}

.form-small-in-center {
  display: flex; /* Используем flexbox для размещения элементов внутри формы */
  margin: 0 auto;
  width: 35%;
}  

/* Стилизация меток пользовательских полей */
form.wtform label {
  display: block;
  margin-bottom: 5px;
}

/* Стилизация кнопки отправки */
form.wtform input[type="submit"] {
  padding: 10px;
  margin: 10px 0;
  background-color: #7c7f7c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container-right {
  float: right;
  width: 100%; /* Ширина формы */
  margin-left: 70px; /* Дополнительный отступ слева */
  margin-top: 0px; /* Дополнительный отступ сверху */
}

.form-group-hidden-field,
.CSRF-Token-Field {
  display: none;
}

/* Стилизация цифрового поля ввода */
form.wtform .form-fields input[type="number"] {
  font-size: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.viewing_before_deleting {
  border: 1px solid black;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.viewing_before_deleting p {
  margin: 0; /* Регулирует межстрочное расстояние между абзацами */
}

.form-column {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Центрировать элемензы по вертикали */
}

.btn-confirm {
  float: left; /* Выравнивание кнопки подтверждения по левому краю */
}

.btn-cancel {
  float: right; /* Выравнивание кнопки отмены по правому краю */
}

.buttons-group {
  display: flex;
  gap: 20px; /* Отступ между кнопками */
}

.input-and-Label {
  /* Размещаем элементы внутри контейнера в строку*/
  display: flex; 
  /* Отступ между элементами */
  gap: 40px; 
}

.input-and-Label label {
  width: 90px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}