/**
 * Файл: app/static/css/lodin.css
 * Автор: Андрей Пшеничный
 * Дата: 24 Мая 2024
 *
 * Название: Стили для формы LoginForm 
 * Версия: 1.0
 * Описание: В этом файле содержатся стили для формы LoginForm ввода информации на веб-сайте.
 */

.active-user {
    
    border: 1px solid black; /* Добавляет рамку вокруг элемента */
    padding: 15px; /* Добавляет внутренний отступ вокруг содержимого */
    background-color: #f2f2f2; /* Цвет фона */

    /* Границы таблицы */
    border: 1px solid #ccc; 
    
    /* Закругляем углы таблицы */
    border-radius: 10px; 

    /* Центрирование текста внутри контейнера */
    text-align: center;

    /* Центрирование контейнера по горизонтали */
    margin: 0 auto;
    margin-top: 8%;
    /* Ширина контейнера на 8   0% ширины родительского элемента */
    width: 35%;
}

.user-data {
    text-align: left; /* Выравнивание текста слева */
    padding-left: 20px; /* Отступ слева для текста */
    padding-bottom: 10px;
    font-size: 16px; /* Установка размера шрифта текста */
}

.user-data a {
    text-decoration: none; /* Удаление подчеркивания у ссылки */
    color: #333;           /* Цвет текста ссылки */
}

.user-data a:hover {
    color: #007bff;       /* Цвет текста ссылки при наведении */
    text-decoration: underline; /* Подчеркивание ссылки при наведении */
}

.submit-button {
    display: block; /* Размещаем кнопку submit на отдельной строке */
    margin-top: 10px; /* Добавляем отступ для разделения от предыдущего элемента */
}

.wtform input[type='password'] {
    width: 300px; /* Ширина полей ввода текста */
    height: 30px; /* Высота полей ввода текста */
    font-size: 16px; /* Размер шрифта */
}
