<!-- app/templates/add_user.html -->
<!-- в файле base.html в head подключен скрипт    
    <script src="{{ url_for('static', filename='js/dinamic_select_field.js') }}"></script>
 -->

{% extends "common/base.html" %} 



{% block content %}
<div class="container">
    <div class="flashed-messages-column">
        <!-- Всплывающие сообщения будут здесь -->
        {% block flashed_messages %}
            {% include 'common/flashed_messages.html' %}
        {% endblock flashed_messages %}
    </div>
    <div class="form-column">
        
        <form method="POST" id="formDinamic" action="{{ url_for('add_user') }}" class="wtform">
            {{ form.csrf_token }}

            <!-- Наличие поля   {{ form.input_field(class="form-group-hidden-field", value="данные для валидации поля") }} 
            из родительской формы DinamicSelectField обеспечивает успешную валидацию составных полей WTForm 
            class AddUser(DinamicSelectField):
                user = FormField(DinamicSelectField) 
                color = FormField(DinamicSelectField) -->
  
                {{ form.input_field(class="CSRF-Token-Field", value="данные для валидации поля") }}

                <div class="form-fields">
            <div class="child-form-fields">
                {% for couple_of_fields in form if couple_of_fields.name not in ['csrf_token', 'submit', 'input_field', 'selection_from_db', 'address' ] %}
                    <div class="group-{{ couple_of_fields.name }}" data-table-name="{{ fields_data[couple_of_fields.name].table_name}}">
                        {% for field in couple_of_fields %}
                            {% if field.name  == 'user-input_field' or field.name  == 'color-input_field' %}
                                {{ fields_data[couple_of_fields.name].label}}<br> 
                                {{ field(class="form-input", type="text", id=field.id, placeholder=field.render_kw.placeholder, value="") }}
                            {% elif field.name  == 'user-selection_from_db'  or field.name == 'color-selection_from_db' %}  
                               {{ field(class="form-select", id=field.id, size="2", multiple="multiple", hidden="hidden") }} 
                                    {% for choice in field.choices %}
                                        <div data-value="{{ choice }}">{{ choice }}</div>
                                    {% endfor %}  
                            {% else %}  
                                        <!-- наличие данных полей csrf_token при каждом составном поле обеспечивает валидацию формы -->
                                        {{ field(class="CSRF-Token-Field") }}      

                            {% endif %}                     
                        {% endfor %}
                    </div>           
                {% endfor %}
            </div>
            </div>
            <label for="{{ form.address.id }}">{{ form.address.label.text }}</label>
            <div class="form-fields">{{ form.address(value="", placeholder=form.address.render_kw.placeholder) }}</div>                {{ form.submit }}
        </form>
    </div>
</div>
{% endblock %}